<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Add Employee</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="@{/css/empMain.css}" rel="stylesheet" type="text/css" />
	<script>
         $(function() {
            $( "#datepicker" ).datepicker();
            $( "#datepicker" ).datepicker("show");
         });
      </script>
	
</head>

<body>
	<div class="container text-center">
<!-- 	
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div> -->
		<div>
			<h1>Add Employee</h1>
		</div>
		<form th:action="@{/saveEmployee}" th:object="${user}" 
			method="post" style="max-width: 600px; margin: 0 auto;" autocomplete="off">
		<div class="m-3">		
			
			<div class="form-group row">
				<label class="col-4 col-form-label">First Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{firstName}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Last Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{lastName}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
				<div class="form-group row">
				<label class="col-4 col-form-label">Joining Date: </label>
				<div class="col-8">
					<input type="date" th:field="*{joiningDate}" class="form-control" id="datepicker" 
							required  />
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Save</button> 
				<a th:href="@{/listEmployees}"><button type="button" class="btn btn-primary">Cancel</button></a>
			</div>
		</div>
		</form>
	</div>
</body>
</html>