<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Employees</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="@{/css/empMain.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container text-center">
<!-- 	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div> -->
	
	<div>
		<h1>Delete Employee</h1>
	</div>


	<form th:action="@{/deleteEmployee}" th:object="${user}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">		
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Enter User Id </label>
				<div class="col-8">
					<input type="text" th:field="*{id}" class="form-control" 
							required minlength="1" maxlength="20"/>
				</div>
			</div>
					<div>
				<button type="submit" class="btn btn-primary">Delete</button> 
				<a th:href="@{/listEmployees}"><button type="button" class="btn btn-primary">Cancel</button></a> 
			</div>
		</div>
		</form>	


<br><br>
   <div>
		<h3>List of Employees</h3>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Joining Date</th>
				</tr>
			</thead>
			<tbody th:if="${not #lists.isEmpty(listEmployees)}">
				<tr th:each="user: ${listEmployees}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.firstName}">First Name</td>
					<td th:text="${user.lastName}">Last Name</td>
					<td th:text="${#dates.format(user.joiningDate, 'dd-MMM-yyyy')}">Joining Date</td>
				</tr>				
			</tbody>
			<tbody th:if="${#lists.isEmpty(listEmployees)}">
			    <tr>
			        <td colspan="4">No Data found</td>
			    </tr>
			</tbody>
		</table>
	</div>
		
</div>
</body>
</html>