<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Employees</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="@{/css/empMain.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	
<div class="container text-center">
	<h1>Employee Management System</h1><br><br>
	<div>
		<h3><a th:href="@{/addEmployee}">Add Employee</a></h3>
	</div>
	
	<div>
		<h3><a th:href="@{/viewEmployees}">View Employees</a></h3>
	</div>
	
	<div>
		<h3><a th:href="@{/deleteEmployee}">Delete Employee</a></h3>
	</div>
	
	<div>
		<h3><a th:href="@{/home}">Home Page</a></h3>
	</div>
	
	<div>
		<h3><a th:href="@{/logout}">Log Out</a></h3>
	</div>
</div>

</body>
</html>