<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Demo for RBC Demo</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="@{/css/empMain.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container text-center">
		<h1>Employee Management System</h1><br><br>		
		
		<h4>New User?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a th:href="@{/register}"> <button type="button" class="btn btn-primary">Register</button></a></h4>
		<h4>Registered User?<a th:href="@{/login}"> <button type="button" class="btn btn-primary">Login</button></a></h4>
	</div>
	
</body>
</html>