<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Registration Success</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="@{/css/empMain.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container text-center">
	    <h1>Employee Management System</h1><br><br><br><br>
		<h3>You have registered successfully!</h3><br>
		<h4><a th:href="@{/login}"><button type="button" class="btn btn-primary">Login</button></a></h4>
	</div>
	
</body>
</html>