<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Employees</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link th:href="@{/css/empMain.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container text-center">
	<!-- <div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div> -->
	



    <div>
		<h1>Employees List</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Joining Date</th>
				</tr>
			</thead>
			<tbody th:if="${not #lists.isEmpty(listEmployees)}">
				<tr th:each="user: ${listEmployees}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.firstName}">First Name</td>
					<td th:text="${user.lastName}">Last Name</td>
					<td th:text="${#dates.format(user.joiningDate, 'dd-MMM-yyyy')}">Joining Date</td>
				</tr>				
			</tbody>
			<tbody th:if="${#lists.isEmpty(listEmployees)}">
			    <tr>
			        <td colspan="4">No Data found</td>
			    </tr>
			</tbody>
		</table>
	</div>
		<div>
			<a th:href="@{/listEmployees}"><button type="button" class="btn btn-primary">Cancel</button></a>
		</div>
</div>
</body>
</html>